* {
  margin: auto;
  padding: auto;
  text-align: center;
}

body {
background-color: #000024;
}

#hero {
    background-color: #000024;
    background-image: url('https://img.tmstor.es/gunship/Album_Cover_1920x1080%20copy.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
}

#gradient-text {
  font-family: 'Titan One', cursive;
  font-size: 38px;
  background-image: linear-gradient(45deg, #8400D6, #9341EA, #ff6600, #ffaa00);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

    @media screen and (min-width: 380px) {
     body { 
      background-color: #000024;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
  }
    }

/* Blog begins */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap');


nav {
  display: inline;
  width: 100%;
  overflow: auto;
  text-decoration: none;
  font-family: 'Titan One', cursive;
  font-size: 50px;
  transition: all 1s ease-in-out;
}

nav a {
  float: center;
  padding: 12px;
  transition: color 1.5s;
  color: linear-gradient(45deg, #8400D6, #9341EA, #ff6600, #ffaa00);
  text-decoration: none;
  font-family: 'Titan One', cursive;
  font-size: 20px;
  transition: all 1s ease-in-out;
  width: 20%;
}

nav a:hover {
  text-decoration: none;
  transition: ease-in;
  transition-duration: 0.1s;
}

section {
  min-height: 100vh;
}

section#main-section {
  font-family: 'Titan One', cursive;
  font-size: 38px;
  background-color: #000024;
  background-image: url('https://img.tmstor.es/gunship/Album_Cover_1920x1080%20copy.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  min-height: 30vh;
}

section#post-1 {
  background: #000024;
  color: #E46993;
}

section#post-2 {
  background: #000024;
  color: #E46993;
}

section#post-3 {
  background: #000024;
  color: #E46993;
}

section#post-4 {
  background-color: #000024;
  color: #E46993;
}

section#post-5 {
  background-color: #000024;
  color: #E46993;
}

section#post-6 {
  background-color: #000024;
  color: #E46993;
}

article {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  margin: 0px auto;
}

h2 {
  text-align: center;
  padding: 40px 0px 0px 0px;
  font-size: 1em;
}

p {
  font-size: 1em;
  text-align: center;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}